body {
  margin: 0;
  padding: 0;
  outline: 0ch;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Menu start */
.navbar-light .navbar-nav .active > .nav-link {
  color: #11bbb6;
}

.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #11bbb6;
}
/* Menu end  */

/* Banner part css start */
#banner-part {
  background: url(./images/tree_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

#banner-part::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(31, 26, 64, 0.9);
}

.banner-text {
  /* banner text select korar jonne. power baraye dey z-index */
  position: relative;
  z-index: 99;
  padding-top: 230px;
  padding-bottom: 205px;
}

.banner-text h2 {
  font-size: 32px;
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  position: relative;
}

.banner-text h2::after {
  position: absolute;
  content: '';
  width: 50px;
  height: 2px;
  background-color: #11bbb6;
  left: 50%;
  transform: translateX(-50%);
  top: 60px;
}
.banner-text p {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  color: #ffffff;
  padding: 55px 115px 50px 115px;
}
.banner-text a {
  border: 1px solid #11bbb6;
  text-transform: uppercase;
  padding: 15px;
  color: #11bbb6;
  font-weight: bold;
  text-decoration: none;
}

.navbar-custom {
  position: fixed;
  width: 100%;
  z-index: 100;
}
/* Banner part css end */

/* About part css start */
#about-part {
  padding: 70px;
}
.about-text h2 {
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  font-weight: bold;
  color: #413d4b;
  text-transform: uppercase;
  margin-bottom: 0 !important;
  padding-bottom: 30px;
}
.about-text p {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  color: #716e78;
}

.about-text a {
  border: 1px solid #11bbb6;
  text-transform: uppercase;
  padding: 15px;
  color: #11bbb6;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  margin-top: 14px;
}
/* About part css end */

/* Video part css start */
#video-part {
  background: url(./images/video_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 200px 0;
}

#video-part::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(31, 26, 64, 0.9);
}

.video-icon {
  z-index: 100;
  position: relative;
}

.icon-deco {
  color: white;
  font-size: 37px;
  width: 70px !important;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  border: 3px solid white;
  padding: 10px;
}

.icon-deco:hover {
  cursor: pointer;
}

.video-icon h3 {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: 500;
  font-size: 16px;
  padding-top: 35px;
}

/* Video part css end */

/* font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif; */
